.ho
{
		border-width:10px;
    background-color: #10473d ;
	text-shadow: 8px 0px 8px #222222;
	border-radius: 120px;
    color: #1fd716;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}
#hh
{
	font-size: 25px;
}

	

form
{
	text-align: center;
}
p
{
	text-align: center;
	background-color: #10473d;
	color: #1fd716;


}

.b2
{
	color: #1fd716;
	background-color: #10473d;
	border-radius: 20px;
	border-color: #090205;
	height: 30px;
	width: 90px;
}
#bu1
{
	margin-right: 7px;
}
#bu2
{
	margin-left: 7px;
}