.body
{
	background-image: url(city.jpg);
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ho
{
		border-width:10px;
    background-color: #1a062f ;
	text-shadow: 8px 0px 8px #222222;
	border-radius: 120px;
    color: #1fd716;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	margin:5px;
}
#h2
{
	font-size: 25px;
}

.form
{
	text-align: center;
	color: #fff223;
}
.p1
{
	text-align: center;
	background-color: #10473d;
	color: #1fd716;
	border: 5px;
	border-radius: 9px;



}

.b2
{
	color: #1fd716;
	background-color: #10473d;
	border-radius: 20px;
	border-color: #090205;
	height: 30px;
	width: 90px;
}
#bu1
{
	margin-right: 7px;
}
#bu2
{
	margin-left: 7px;
}
.social
{
	text-align: center;
}
.myimg
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mySlides
{
 
 display: block;
 margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
 width: 600px;
 border:20px;
 border-color: black;
}
.p2
{	margin-right: 400px;
	margin-left: 400px;
	 display: block;
}
#kol
{
	margin-top: 45px;
}